<nav class="navbar">

  <!-- Logo -->
  <div class="logo">
    <span>Knowledge Inn</span>
    <img src="assets/images/banner.jpg" alt="Logo" />
  </div>

  <!-- Toggler -->
  <div class="toggle-btn" (click)="toggleMenu()">
    <div [class.active]="isMenuOpen"></div>
  </div>

  <!-- Menu -->
  <ul class="nav-links" [class.active]="isMenuOpen">

    <li><a routerLink="/home" (click)="closeMenu()">Home</a></li>
    <li><a routerLink="/our-mission" (click)="closeMenu()">Our Mission</a></li>
    <li><a routerLink="/our-vision" (click)="closeMenu()">Our Vision</a></li>
    <li><a routerLink="/about-us" (click)="closeMenu()">About Us</a></li>
    <li><a routerLink="/contact-us" (click)="closeMenu()">Contact Us</a></li>

  </ul>

</nav>
